<?xml version="1.0" encoding="UTF-8" standalone="no" ?> 
<Settings>
    <Settings Name="com.vector.cfg.gen.extgens.tttech.wdg.settings">
        <Settings Name="ModuleList">
            <Settings Name="WdgIf">
                <Setting Name="Package" Value="/TTTECH" /> 
                <Setting Name="ModuleName" Value="WdgIf" />
                <Setting Name="GeneratorPath" Value="$(SipRootPath)\..\..\..\WdgIf\generate\Wdg_If_Cfg_Gen.exe" />
            </Settings>
        </Settings>
    </Settings>
</Settings>
